<p id="notice"><%= notice %></p>

<h1>Listing Stackers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stackers.each do |stacker| %>
      <tr>
        <td><%= link_to 'Show', stacker %></td>
        <td><%= link_to 'Edit', edit_stacker_path(stacker) %></td>
        <td><%= link_to 'Destroy', stacker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stacker', new_stacker_path %>
